-# frozen_string_literal: true
- page_name= @person.persisted? ? t('view.edit') : t('view.new')
= render partial: 'breadcrumb', locals: { page_name: page_name }

= simple_form_for(@person) do |f|
  .form-inputs
    = f.input :name
    = f.input :description

  .form-actions
    = f.button :submit
    - if @person.persisted?
      = link_to t('view.show'), @person, class: 'btn btn-primary'
    = link_to t('view.back'), people_path, class: 'btn btn-primary'
