-# frozen_string_literal: true
- page_name= @song.persisted? ? t('view.edit') : t('view.new')
= render partial: 'breadcrumb', locals: { page_name: page_name }

= simple_form_for(@song) do |f|
  .form-inputs
    = f.input :name
    = f.input :description
    = f.association :lyricist
    = f.association :composer
    = f.association :arranger

    .field.form-group.form-group-lg
      = f.label :tag_list, class: 'sr-only control-label'
      = f.text_field :tag_list, value: @song.tag_list.join(","), class: 'form-control'

  .form-actions
    = f.button :submit
    - if @song.persisted?
      = link_to t('view.show'), @song, class: 'btn btn-primary'
    = link_to t('view.back'), songs_path, class: 'btn btn-primary'
